{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - item: {Object} The cart item to render
  - for_notification: {Boolean} Whether the item is being rendered for a notification or not. Default: false (optional)
  - animate_enabled: {Boolean} Whether to animate the item or not. Default: false (optional)

  Usage:
  {% render 'cart-mini-item', item: item %}
{% endcomment %}

{% capture content %}
  {% if item.image != blank %}
    <a href='{{ item.url }}' class='xo-cart-mini-item__image' tabindex='-1' aria-hidden='true'>
      {% render 'image', image: item.image, width: '140', lazyload: false %}
    </a>
  {% endif %}

  <div class='xo-cart-mini-item__content'>
    {%- if settings.show_vendor -%}
      <span class='xo-cart-mini-item__vendor'>{{ item.product.vendor }}</span>
    {%- endif -%}

    <a
      href='{{ item.url }}'
      class='xo-cart-mini-item__title'
    >
      {{ item.product.title | escape }}
    </a>

    <div class='xo-cart-mini-item__price'>
      {% render 'price', product: item %}
    </div>

    {% render 'cart-unit-price', item: item %}

    {%- if item.product.has_only_default_variant == false or item.properties.size != 0 -%}
      <div class='xo-cart-mini-item__options'>
        {%- for option in item.options_with_values -%}
          <div class='xo-cart-mini-item__option'>
            <span>{{ option.name }}:</span>
            <span>{{ option.value -}}</span>
          </div>
        {%- endfor -%}
        {%- for property in item.properties -%}
          {%- assign property_first_char = property.first | slice: 0 -%}
          {%- if property.last != blank and property_first_char != '_' -%}
            <div class='xo-cart-mini-item__option'>
              <span>{{ property.first }}:</span>
              <span>
                {%- if property.last contains '/uploads/' -%}
                  {% assign text = property.last | split: '/' | last %}
                  {% capture attrs %}target='_blank' aria-describedby='a11y-new-window-message'{% endcapture %}
                  {% render 'button', text: text, link: property.last, style: 'link', attrs: attrs %}
                {%- else -%}
                  {{ property.last }}
                {%- endif -%}
              </span>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endif -%}

    <ul class='xo-cart-mini-item__discounts list-unstyled' role='list'>
      {%- for discount in item.line_level_discount_allocations -%}
        <li class='xo-cart-mini-item__discount'>
          {% render 'badge-discount', label: discount.discount_application.title %}
        </li>
      {%- endfor -%}
    </ul>

    {% unless for_notification %}
      {% render 'quantity', size: 'md', value: item.quantity %}

      <div class='xo-cart-mini-item__remove'>
        <xo-cart-change-fallback class='xo-cart-mini-item__loading'>
          {% render 'loader-2' %}
        </xo-cart-change-fallback>
        <xo-cart-remove class='xo-cart-mini-item__remove-action'>
          {% render 'icon', name: 'trash', size: '2rem' %}
        </xo-cart-remove>
      </div>
    {% endunless %}
  </div>
{% endcapture %}

<xo-product
  class='xo-cart-mini-item'
  xo-section-id='mini-cart'
  xo-product-id='{{ item.id }}'
>
  {% if animate_enabled %}
    <xo-animate class='xo-cart-mini-item__inner' xo-cascade>
      {{ content }}
    </xo-animate>
  {% else %}
    <div class='xo-cart-mini-item__inner'>
      {{ content }}
    </div>
  {% endif %}
</xo-product>
