{{ 'section-mega-menu-v22.css' | asset_url | stylesheet_tag }}
{% assign index_number = section.settings.index | append: '' %}

<template xo-mega-menu-name='header-mega-menu-v8' xo-mega-menu-index='{{ index_number }}'>
  <div data-id='{{ section.id }}' {% render 'section-attr' %}>
    <div class='container-header-v22'>
      <xo-grid class='menu-header-v22' style='--col-width: 19rem;'>
        {%- if section.settings.menu_style1 != blank -%}
          <div>
            {%- if section.settings.heading_1 != blank -%}
              <h2 class='menu-header-v22__heading'>{{- section.settings.heading_1 -}}</h2>
            {%- endif -%}
            <ul class='menu-header-v22__list-item'>
              {%- for link in section.settings.menu_style1.links -%}
                <li class='menu-header-v22__item'>
                  <a
                    href='{{ link.url }}'
                  >
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        {%- if section.settings.menu_style2 != blank -%}
          <div>
            {%- if section.settings.heading_2 != blank -%}
              <h2 class='menu-header-v22__heading'>{{- section.settings.heading_2 -}}</h2>
            {%- endif -%}
            <ul class='menu-header-v22__list-item'>
              {%- for link in section.settings.menu_style2.links -%}
                <li class='menu-header-v22__item'>
                  <a
                    href='{{ link.url }}'
                  >
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        {%- if section.settings.menu_style3 != blank -%}
          <div>
            {%- if section.settings.heading_3 != blank -%}
              <h2 class='menu-header-v22__heading'>{{- section.settings.heading_3 -}}</h2>
            {%- endif -%}
            <ul class='menu-header-v22__list-item'>
              {%- for link in section.settings.menu_style3.links -%}
                <li class='menu-header-v22__item'>
                  <a
                    href='{{ link.url }}'
                  >
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </xo-grid>
      <a href='{{section.settings.button_link }}'>
        {% render 'image', image: section.settings.image %}
      </a>
    </div>
  </div>
</template>
